.form-container{
    display: flex;
    justify-content: center;    
    margin-top: 40vh;
    // height: 400px;
}

h1 {
    display: block;
}

.block {
    display: block;
}

.input {
    margin-bottom: 20px;
}

